<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<app-header></app-header>
<section class="height">

	<div class="container-fluid">
    
        	<div class="row about-bg height">
                <div class="col-md-12">
                    
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 about-bg-layer height">
                
                
                <div class="">
                <div class="about-content-box">
                <div class="about-heading">
                
                    <h4>CONTACT US</h4>
                    <div>
                        <p><span class="glyphicon glyphicon-envelope"></span><span style="font-weight:bold"> Mail us at:</span> sastifactory@gmail.com</p>
                        <p><span class="glyphicon glyphicon-earphone"></span><span style="font-weight:bold"> Call us at:</span> 8178662708</p>
                        <p><span class="glyphicon glyphicon-map-marker"></span><span style="font-weight:bold"> Postal address:</span> Tilak Nagar, New Delhi-110018, INDIA</p>
                    </div>
                </div>
                </div>
                    
                </div>
			</div>
        </div>
       </div>

</section>
<app-footer></app-footer>