<app-header></app-header>
<section class="height">
   <div class="container-fluid">
      <div class="row about-bg height">
        <div class="full-width" >
            <input type="file" id="base-input" class="form-control form-input form-style-base">
            <input type="text" id="fake-input" class="form-control form-input form-style-fake" placeholder="Choose your File" readonly>
            <span class="glyphicon glyphicon-open input-place"></span>
        </div>
        <div style="padding-left:42%">
            <button type="button" class=" button btn" >Upload</button>            
        </div>
      </div>
   </div>
</section>
<app-footer></app-footer>